<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>addPet</title>
</head>
<body>
<form action="#" th:action="@{/addpet}" th:object="${pet}" method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    <label for="email">Type</label>
    <input type="text" th:field="*{type}" id="type" placeholder="Type">
    <span th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></span>
    <input type="submit" value="Insert">
</form>
</body>
</html>